<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data.Properties.Settings.LanguageDBConnectionString"
            connectionString="data source=C:\Dev\LanguageLearner\output\LanguageDB.s3db"
            providerName="System.Data.SQLite" />
        <add name="Data.Properties.Settings.LangDataConnectionString"
            connectionString="data source=C:\Dev\LanguageLearner\output\LangData.s3db"
            providerName="System.Data.SQLite" />
        <add name="Data.Properties.Settings.DataConnectionString" connectionString="data source=C:\Dev\LanguageLearner\output\Data.s3db"
            providerName="System.Data.SQLite" />
        <add name="LanguageLearner.Data.Properties.Settings.LanguageDBConnectionString"
            connectionString="data source=C:\Dev\LanguageLearner\output\LanguageDB.s3db"
            providerName="System.Data.SQLite" />
        <add name="LanguageLearner.Data.Properties.Settings.LangDataConnectionString"
            connectionString="data source=C:\Dev\LanguageLearner\output\LangData.s3db"
            providerName="System.Data.SQLite" />
        <add name="LanguageLearner.Data.Properties.Settings.DataConnectionString"
            connectionString="data source=C:\Dev\LanguageLearner_Remote\output\Data.s3db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>